@import "../../../vars";

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #0000;
  color: #000;
  font-weight: 600;

  .title {
    font-size: 36px;
    font-weight: 400;
  }

  .nav-items {
    font-size: 18px;
    color: $accent-color;
  }
}
