<div class="container-padding m-toolbar" fxLayout="row" role="main">
  <div class="cs50" fxLayout="column" fxLayoutAlign="center center">
    <div
      class="gs-card"
      fxLayout="column"
      fxLayoutAlign="start center"
      fxLayoutGap="15px"
    >
      <div class="sp-img"></div>
      <div>
        <h3>Spread positivism and help persons like you</h3>
        <blockquote>
          Raise your words, not your voice. It is rain that grows flowers, not
          thunder.
          <footer>
            —
            <cite>Rumi</cite>
          </footer>
        </blockquote>
        <p>
          Your words are more powerfull than you think, they are life-changing.
          Use them wisely.
        </p>
      </div>
      <input
        type="button"
        class="btn btn-accent al-bottom"
        value="Spread love"
      />
    </div>
  </div>
  <div class="cs50" fxLayout="column" fxLayoutAlign="center center">
    <div
      class="gs-card"
      fxLayout="column"
      fxLayoutAlign="start center"
      fxLayoutGap="15px"
    >
      <div class="gw-img"></div>
      <div>
        <h3>Share your feelings and find the words you need</h3>
        <blockquote>
          When we can talk about our feelings, they become less overwhelming,
          less upsetting, and less scary.
          <footer>
            —
            <cite>Fred Rogers</cite>
          </footer>
        </blockquote>
        <p>
          Emotions are what make us humans and talking about them is the first
          step to feel better.
        </p>
      </div>
      <input
        type="button"
        class="btn btn-accent al-bottom"
        value="Share your feelings"
      />
    </div>
  </div>
</div>
